/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background-color: #006341;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70px;
    display: flex;
}
.logo{
    display: flex;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contenido principal */
main .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    text-align: center;
}

main .container .content img {
    width: 300px;
    border-radius: 10px;
}

main .container .content p {
    margin-top: 10px;
    font-size: 18px;
}

/* Estilo de la página de menú */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
    justify-items: center;
    text-align: center;
}

.menu-grid .item img {
    width: 250px;
    border-radius: 10px;
}

.menu-grid .item p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
/* Pie de página */
footer {
    background-color: #006341;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

/* Estilos para los iconos de redes sociales */
.social-icons {
    position: absolute;
    left: 20px; /* Ajusta la posición según sea necesario */
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    border-radius: 50%; /* Para que sean círculos, si las imágenes no son redondas */
}


